.container{
    margin: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: smaller;
}

.course{
    margin-left: 40px;
}

.course-section{
    margin: 10px;
}

@media screen and (min-width: 700px) {
    .container{
        margin: 100px;
        margin-left: 150px;
        margin-right: 150px;
        font-size: inherit;
    }
}